/* Global */
body{
	display:block;
	margin:0px;
	background-image: url("/images/064605dWj.jpg");
}

.header-image{
	width: 96%;
	max-height: 300px;
	overflow: hidden;
	margin: 2%;
	border-radius: 4px;
	box-shadow: 0 10px 20px 10px rgba(82, 82, 82, 0.4);
}

/* Index style */
.blog-title{
	margin-left:2%
}
.post-list{
	list-style-type:none;
}
.post-list-date{
	float:right;
	font-style: italic;
	font-size: 0.9em;
}
.post-list li{
	margin-top:5px;
	margin-bottom:5px;
	margin-right: 2%;
	color:black;
}
.post-list a:link{
	color:black;
	text-shadow:3px 3px 3px gray;
	text-decoration: blink;
}
.post-list a:hover{
	position: relative;
	left: 1px;
	top: 1px;
	text-shadow: 2px 2px 3px gray;
	text-decoration: blink;
}
.post-list a:focus{
	position: relative;
	left: 2px;
	top: 2px;
	text-shadow: 1px 1px 3px gray;
	text-decoration: blink;
}
.post-list a:visited{
	color:rgb(43, 43, 43);
	text-decoration: blink;
}

/* Post common style */
.post-title{
	margin-left:3%;
}
.post-content{
	margin:25px 5% 25px 5%;
}
.post-content img{
	max-width:100%;
	box-shadow: 0 0 5px 6px rgba(82, 82, 82, 0.4);
	border-radius: 5px;
}
.post-date, .link-to-homepage{
	float:right;
	margin-right:25px;
	clear:right;
}
#disqus_thread{
	margin:25px 5% 25px 5%;
}


/* Post content style */
pre{
	overflow-wrap:break-word;
	background-color: rgba(222,222,222,0.3);
	padding: 20px;
	border: solid 5px rgba(222,222,222,0.5);
	display: inline-block;
}
canvas {
	border: solid 1px;
	margin: 20px;
	display: block;
}